<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kuro.erp.mapper.EmpMapper">

    <select id="selectEmpByMobile" resultType="org.kuro.erp.model.entity.Emp">
        select id,
               nation,
               password,
               name,
               email,
               mobile,
               address,
               gender,
               birthday,
               avatar,
               dep_id,
               dep_name,
               last_login_ip,
               login_times,
               state,
               last_login_time,
               create_time
        from t_emp
        where state = 1
          and mobile = #{mobile}
        limit 1;
    </select>

    <select id="selectEmpList" resultType="org.kuro.erp.model.entity.Emp">
        select id,
        nation,
        password,
        name,
        email,
        mobile,
        address,
        gender,
        birthday,
        avatar,
        dep_id,
        dep_name,
        last_login_ip,
        login_times,
        state,
        last_login_time,
        create_time,
        update_time
        from t_emp
        WHERE 1 = 1
        <if test="mobile != null and mobile != ''">
            AND mobile = #{mobile}
        </if>
        <if test="gender != null and gender != ''">
            AND gender = #{gender}
        </if>
        <if test="depName != null and depName != ''">
            AND dep_name = #{depName}
        </if>
        <if test="name != null and name != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
        ORDER BY create_time DESC, birthday DESC
    </select>


    <select id="empCountFromDep" resultType="java.lang.Integer">
        select count(*) from t_emp where dep_id = #{depId}
    </select>
</mapper>